:root {
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

  background-color: rgb(20, 20, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  /* text-decoration: none; */
  color: rgb(100, 88, 88);
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 100px;
}
.App img{
  height: auto;
}
.App h1{
  font-size: 110px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

